cairocffi==1.7.1
CairoSVG==2.7.1
cffi==1.17.1
cssselect2==0.8.0
defusedxml==0.7.1
mpmath==1.3.0
numpy==2.2.4
pillow==11.2.1
pycparser==2.22
PyQt5==5.15.11
PyQt5-Qt5==5.15.16
PyQt5_sip==12.17.0
PyQtWebEngine==5.15.7
PyQtWebEngine-Qt5==5.15.16
svgwrite==1.4.3
sympy==1.13.3
tinycss2==1.4.0
webencodings==0.5.1
