cairocffi==1.7.1
CairoSVG==2.7.1
cffi==1.17.1
contourpy==1.3.1
cssselect2==0.8.0
cycler==0.12.1
defusedxml==0.7.1
fonttools==4.57.0
kiwisolver==1.4.8
matplotlib==3.10.1
mpmath==1.3.0
numpy==2.2.4
packaging==24.2
pillow==11.2.1
pycparser==2.22
pyparsing==3.2.3
PyQt5==5.15.11
PyQt5-Qt5==5.15.16
PyQt5_sip==12.17.0
PyQtWebEngine==5.15.7
PyQtWebEngine-Qt5==5.15.16
python-dateutil==2.9.0.post0
six==1.17.0
svgwrite==1.4.3
sympy==1.13.3
tinycss2==1.4.0
webencodings==0.5.1
